@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lora&family=Open+Sans:wght@300&display=swap');
$fonts-headline: 'Roboto', Arial, Verdana, sans-serif;
$fonts-body: 'Lexend', arial, sans-serif;
$background-color: #754e22;
$background-color2: #fff;
$background-color3: #f2f0ea;

$primary: #f2f0ea;
$accent1: #e5c62e;
$accent2: #9ec54d;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;

$text-green:#9ec54d;
$text-color-price:#e58e21;